html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

:root {
  --colorFg: #533721;
  --colorFgInverse: #fff;
  --colorBg: #eedec9;
  --colorCta: #e64224;

  --spacingXSmall: 0.25rem;
  --spacingSmall: 0.5rem;
  --spacingMedium: 1rem;
  --spacingLarge: 1.5rem;
  --spacingXLarge: 2rem;

  --typeFaceDefault: 'Open Sans', sans-serif;
  --typeLineHeightTight: 1em;
  --typeSizeSmall: 0.75rem;
  --typeSizeDefault: 16px;
  --typeSizeMedium: 1rem;
  --typeSizeLarge: 1.5rem;
  --typeSizeXLarge: 3rem;
  --typeSizeXXLarge: 4rem;
  --typeWeightDefault: 400;
  --typeWeightBold: 800;
}

html,
body {
  background: var(--colorBg);
  color: var(--colorFg);
  font-family: var(--typeFaceDefault);
  font-size: var(--typeSizeDefault);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
button,
textarea {
  margin-bottom: 0;
}

@media (min-width: 70rem) {
  :root {
    --typeSizeDefault: 24px;
  }
}
